div {
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px; 
    max-width: 100px; 
    background-color: #f9f9f9;

    p{
        margin: 0;
        font-size: 14px;
        color: #333;
    }
}