<div id="container">
    <div class="tags-filter">
        <ul>
            @for (tag of tags; track $index) {
                <li class="tag-item">
                    <label [style.color]="tag.color">
                        <input type="checkbox" (change)="toggleTagFilter(tag)" [checked]="isTagSelected(tag)" />
                        {{ tag.name }}
                    </label>
                </li>
            } @empty {
                <li>Aucun tag</li>
            }
        </ul>
    </div>
    
    <button (click)="addNote()" class="add-note-button">Ajouter une note</button>
    
    <div class="notes-list">
        @for (note of filteredNotes; track $index) {
            <div class="note-item" (click)="selectNote(note)">
                <h4>{{ note.title }}</h4>
                @if (note.content) {
                    <p>{{ getShortContent(note.content) }}</p>
                } @else {
                    <p>Note vide...</p>
                }
                <small>Créée le {{ getDateFormated(note.createdAt) }}, 
                Modifiée le {{ getDateFormated(note.updatedAt) }}</small>
                <div id="tags">
                    @for (tag of note.tags; track $index) {
                        <span [style.background-color]="tag.color">{{ tag.name }}</span>
                    }
                </div>
            </div>
        } @empty {
            <p>Aucune note</p>
        }
    </div>
</div>